.placeholder {
    width: 440px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F4F4F4;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
}