.hamburger {
    display: none;
    position: absolute;

    width: 25px;
    height: 25px;

    right: 18px;
    top: 25px;
}

.hamburger:hover :is(.hamburger__line--top, .hamburger__line--bottom) {
    y: 45;
}

.hamburger__line {
    transition:
        y 200ms ease-in 200ms,
        rotate 200ms ease-in,
        opacity 0ms 200ms;
    transform-origin: center;
}

.hamburger:hover .hamburger__line {
    transition:
        y 200ms ease-in,
        rotate 200ms ease-in 200ms,
        opacity 0ms 200ms;
}


.hamburger:hover .hamburger__line--top {
    rotate: 45deg;
}

.hamburger:hover .hamburger__line--middle {
    opacity: 0;
}

.hamburger:hover .hamburger__line--bottom {
    rotate: -45deg;
}

@media (max-width: 640px) {
    .hamburger {
        display: block;
    }
}