.form__input {
    width: 22.5rem;
    height: 3.125rem;

    padding: 0 1.25rem 0;

    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
}

.form__input:hover {
    cursor: pointer;
}

.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    font-weight: 500;
    font-size: .8125rem;
    line-height: 2.15;

    color: rgba(21, 21, 21, .7);
}

.form__input:hover::placeholder {
    color: rgba(21, 21, 21);
}

.form__input:focus::placeholder {
  color: transparent;
}

@media (max-width: 640px) {
    .form__input {
        width: calc(100% - 1.125rem * 2);
    }
}