.footer__headline {
    margin: 0 0 3.125rem 0;

    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33;
}

@media (max-width: 640px) {
    .footer__headline {
        margin-bottom: 2.5rem;
    }
}