.quote__pic {
    width: 650px;
}

@media screen and (max-width: 320px) {
    .quote__pic {
        width: 284px;
    }

    /*   .quote__pic::before {
        content: '';

        width: 284px;
        height: 1px;

        border: none;
        background: #E3E3E3;
    } */
}