.quote__pic {
    width: 650px;
}

@media screen and (max-width: 768px) {
    .quote__pic {
        width: 608px;
    }
}

@media screen and (max-width: 320px) {
    .quote__pic {
        width: 284px;
    }
}